@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  --primary-bg: hsl(0, 0%, 100%);
  --secondary-bg: hsl(0, 0%, 98%);
  --primary-text: hsl(200, 15%, 8%);
  --secondary-text: hsl(0, 0%, 52%);
}

body.dark {
  --primary-bg: hsl(209, 23%, 22%);
  --secondary-bg: hsl(207, 26%, 17%);
  --primary-text: hsl(0, 0%, 100%);
  --secondary-text: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;

  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 25px 20px;

  font-weight: 800;
  background-color: var(--primary-bg);
  box-shadow: 5px 0 15px rgba(0,0,0,0.2);
}

header > div {
  width: min(100%, 1360px);
  margin: auto;
}

.header-text {
  font-size: clamp(0.8rem, 1vw + 0.9rem, 1.5rem);
}

#themeSwitcher {
  font-size: clamp(0.4rem, 1vw + 0.5rem, 1rem);
  cursor: pointer;
}

#themeSwitcher:hover {
  opacity: 0.8;
}

#root {
  padding: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-cont {
  width: min(100%, 480px);
  height: 60px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
  
  background-color: var(--primary-bg);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.search-icon, .close-icon {
  margin: 0 15px;
  color: var(--secondary-text);
}

#searchInput {
  outline: none;
  border: none;
  width: 80%;
  height: 40px;
  font-size: 1rem;

  background-color: var(--primary-bg);
  color: var(--secondary-text);
}

.no-result {
  margin-top: 20px;
  font-weight: 600;
  font-style: italic;
}

.hide {
  display: none;
}

.dropdown-cont {
  position: relative;
  cursor: pointer;
}

.dropdown-menu, .dropdown-option-cont {
  width: 200px;
  background-color: var(--primary-bg);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.dropdown-menu {
  padding: 20px;
  height: 60px;
}

.dropdown-option-cont {
  position: absolute;
  margin-top: 10px;
  padding: 10px 0;

  animation: slideDown 1s ease both;
}

.dropdown-option {
  padding: 5px 20px;
}

.dropdown-option:hover {
  background-color: var(--secondary-bg);
}

@keyframes slideDown {
  0% {opacity: 0; transform: translateY(-20px);}
  100% {opacity: 1; transform: translateY(0);}
}


.filters, .country-list {
  width: min(100%, 1360px);
  margin: auto;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-card {
  width: 265px;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-bg);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.country-card:active {
  transform: scale(0.8);
}

.flag {
  height: 160px;
}

.flag img{
  width: 265px;
  height: 160px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.country-info {
  padding: 30px 20px 40px;
}

.country-info h3 {
  margin: 0 0 15px;
}

.info-label {
  font-weight: 600;
  margin-right: 5px;
}


.details-cont {
  width: min(100%, 1360px);
  padding: 20px 10px;
  margin: auto;
}

button {
  outline: none;
  border: none;
  border-radius: 5px;

  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.8);
}

#backButton {
  width: clamp(100px, 20vw, 150px);
  height: clamp(30px, 6vw, 45px);
}

#backButton span {
  margin: 0 5px;
}

.flag-cont {
  width: min(100%, 560px);
  margin: 50px auto;
}

.flag-cont img {
  width: min(100%, 560px);
}

.info-cont {
  width: min(100%, 600px);
  margin: auto;
}

.details {
  align-items: flex-start;
}

.details-1 div, .details-2 div {
  margin: 10px 0;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

.border-text {
  margin: 10px 10px 10px 0;
}

.bc-cont {
  display: flex;
  flex-wrap: wrap;
  width: min(100%, 450px);
}

.bc-cont button {
  margin: 5px 10px 5px 0;
  padding: 5px 10px;
  width: 90px;
  height: 30px;
  font-size: 0.8rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
